name: CI

on:
  push:
    tags: ['v*']
  release:
    types: [published]

jobs:
  test:
    uses: ./.github/workflows/test.yml

  deploy:
    needs: test
    if: startsWith(github.ref, 'refs/tags/v')
    uses: ./.github/workflows/deploy.yml
    permissions:
      contents: read
      packages: write
      id-token: write
    secrets: inherit
